:root {
  --primary-light: #3aee8b;
  --primary: #04d361;
  --primary-dark: #00ab4d;
  --secondary-light: #b185f0;
  --secondary: #9457ea;
  --secondary-dark: #7239c2;
  --dark: #101023;
  --light: #e6e6ff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #101023;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: var(--light);
}
main {
  padding-bottom: 534px;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
