:root {
  --primary-light: #3aee8b;
  ---primary: #04d361;
  --primary-dark: #00ab4d;
  --secondary-ligth: #b185f0;
  --secondary: #9457ea;
  --secondary-dark: #7239c2;
  --dark: #101023;
  --light: #e6e6ff;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #101023;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: var(--light);
}
main {
  padding-bottom: 534px;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: Source Code Pro;
  font-size: 8.9rem;
  font-weight: 400;
  line-height: 11.1rem;
}
h2 {
  font-size: 6.7rem;
  font-weight: 700;
  line-height: 8.42rem;
}
h3 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 6.28rem;
}

h4 {
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 4.77rem;
}

h5 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.52rem;
}

h6 {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 2.6rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

button {
  width: 180px;
  height: 50px;
  font-size: 2.1rem;
  font-weight: 700;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 5.3rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 2.7rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
  button {
    width: 150px;
    height: 50px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
