:root {
  --verde-claro: #3aee8b;
  --verde-intermediario: #04d361;
  --verde-escuro: #00ab4d;
  --rosa-claro: #b185f0;
  --rosa-intermediario: #9457ea;
  --purple: #7239c2;
  --black: #101023;
  --light: #e6e6ff;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #101023;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: var(--light);
}
main {
  padding-bottom: 534px;
}
a {
  text-decoration: none;
  color: inherit;
}
