.cabecalho {
  display: flex;
  color: var(--light);
  align-items: center;
  width: 100%;
  font-size: 1.31rem;
  height: 103px;
}
.cabecalho__estilo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cabecalho__logo {
  width: 180px;
  height: 55px;
}
.cabecalho__menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.cabecalho__lista--item {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.cabecalho__lista {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 144px;
}
.cabecalho__lista--link {
  text-decoration: none;
  color: inherit;
  font-size: 1.31rem;
  display: flex;
  justify-content: space-around;
}
.cabecalho__menu--botao-texto {
  background-color: var(--verde-intermediario);
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-left: 323px;
  margin-right: 0px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 16px;
  padding-bottom: 16px;
}
