.header {
  display: flex;
  color: var(--light);
  align-items: center;
  width: 100%;
  font-size: 1.31rem;
  height: 103px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.menu--estilo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.header__logo {
  width: 180px;
  height: 55px;
}
.menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.menu__box--item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
  font-size: 1.31rem;
}
.menu__box {
  display: flex;
  width: 100%;
  margin-left: 144px;
  align-items: center;
}
.menu__button {
  background-color: var(--verde-intermediario);
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: inherit;
  font-size: inherit;
}
