.sobre__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1260px;
}

.sobre__estilo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light);
  width: 288px;
  height: 650px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  background-color: var(--black);
  width: 100%;
  height: 650px;
  margin-right: 36px;
}

.sobre__img {
  height: 50px;
  width: 50px;
  margin-top: 68px;
  margin-bottom: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre__titulo {
  color: var(--purple);
  font-weight: 700;
  font-size: 2.375rem;
  margin-top: 169px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sobre__texto {
  font-family: "Source Serif Pro", serif;
  color: var(--purple);
  text-align: center;
  width: 216px;
  height: 355px;
  max-width: 216px;
  max-height: 355px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 48px;
  /* text-overflow: clip ellipsis;
  overflow: clip; */
}
